* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}

header {
  height: 450px;
  width: auto;
  background-image: url(./assets/design1_image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -130px;
}
header h1 {
  font-size: 70px;
  opacity: 75%;
}

main #box {
  background-color: black;
  height: 50px;
  align-items: center;
}

main h2 {
  color: aliceblue;
  text-align: center;
  padding: 10px;
}

main #logo {
  height: 150px;
  width: 150px;
  position: relative;
  left: 75%;
  bottom: 90px;
}

main img {
  height: 30%;
  width: 30%;
}

main nav {
  display: inline-block;
  margin: 50px;
}

main nav li {
  padding-top: 40px;
}

main section {
  position: relative;
  left: 20%;
  bottom: 220px;
  width: 50%;
}

main section h3 {
  padding-top: 30px;
}

main img {
  position: relative;
  left: 110%;
  bottom: 170px;
}

main section #imgabt {
  position: relative;
  left: 110%;
  bottom: 230px;
}
