* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Share Tech", sans-serif;
  color: white;
  text-shadow: 8px 8px 10px black;
  background-image: radial-gradient(
    circle farthest-corner at 78.8% 54.1%,
    rgba(50, 50, 50, 1) 0%,
    rgba(0, 0, 0, 1) 99.4%
  );
}
header {
  height: 450px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  background-image: url(./assets/design1_image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -110px;
}
header h1 {
  font-size: 70px;
  margin-left: 10%;
  position: relative;
  bottom: 90px;
  right: 10%;
}
main #box {
  background-color: black;
  height: 30px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #logo {
  height: 150px;
  width: 150px;
  position: relative;
  right: 590px;
}
main nav ul li {
  display: inline-block;
  margin: 5px;
  padding: 4px;
  background-color: #3a484d;
  border: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  position: relative;
  left: 59%;
  bottom: 500px;
}
main nav ul li a {
  color: aliceblue;
  font-size: large;
}
main nav ul li:hover {
  background-color: white;
}
main nav ul li a:hover {
  color: black;
}
main section {
  margin-bottom: 150px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
main section h3 {
  padding-top: 20px;
}
main section img {
  height: 30%;
  width: 30%;
  border-radius: 130px;
}

/**************************
********CONTACT CSS********
***************************/

main section#contact p {
  padding: 30px;
}
main section a {
  color: wheat;
  text-decoration: underline;
}
main section#rules {
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/************************
********RULES CSS********
*************************/
main section#rules dl {
  margin-top: 10px;
}
main section#rules dl dt {
  font-weight: bold;
  margin-bottom: 30px;
}
main section#rules dl dd {
  text-indent: 3rem;
}
main section#rules p {
  margin-top: 20px;
}
main section#rules ol li {
  margin-top: 20px;
  list-style: decimal;
  margin-left: 16px;
}
main section#rules ol#alpha li {
  list-style: lower-alpha;
  margin: 0px;
}
main section#rules ul#ul li {
  list-style-type: circle;
  margin-left: 36px;
}

/***************************
********GAMEINFO CSS********
***************************/
main section#gameInfo {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section#gameInfo {
  display: flex;
  align-items: center;
}
main section#gameInfo h2 {
  font-size: 3rem;
}
main section#gameInfo span {
  font-size: 25px;
  font-style: italic;
  position: relative;
  right: 13%;
  margin-top: 5%;
}
main section#gameInfo table {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
}
main section#gameInfo table caption {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: underline;
}
main section#gameInfo table tr td {
  padding-top: 15px;
  padding-left: 35px;
}
main section div#gameInfoBX p {
  margin: 20px;
}
main section div#gameInfoBX div {
  display: flex;
  justify-content: space-between;
}

main div.maps {
  margin-bottom: 150px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

main div.maps p {
  font-family: "Share Tech", sans-serif;
  color: white;
  text-shadow: 8px 8px 10px black;
  font-size: larger;
  padding: 20px;
}

main div.maps iframe {
  border-radius: 40px;
}

/*******************************
********REGISTRATION CSS********
********************************/

main section form {
  font-size: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

main section form legend {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: xx-large;
}

main section form fieldset {
  padding: 10px;
  border: none;
}

main section form fieldset#addressStyle input {
  width: 81%;
}

main section form h2 {
  margin-top: 40px;
}

main section form .formbx {
  display: flex;
  justify-content: space-between;
}

main section form input {
  font-size: 20px;
}

main section p#select{
  font-size: small;
}
main section select{
  font-size: larger;
}

main section form .columnbx {
  display: flex;
}

main section form .columnbx div {
  display: flex;
  flex-direction: column;
}

main section form label {
  padding: 10px;
}

main section form button {
  margin-left: 50%;
  margin-top: 50px;
  width: 10%;
  font-size: larger;
}
