*{
  margin: 0px;
  box-sizing: border-box;
}


header {
  height: 350px;
  width: auto;
  background-image: url(./assets/design1_image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -130px;
}
header h1 {
  font-size: 70px;
  opacity: 75%;
}

header h2 {
  background-color: black;
  color: aliceblue;
  padding: 10px;
  position: relative;
  bottom: -190px;
  text-align: center;
}

header img {
  height: 150px;
  width: 150px;
  position: sticky;
  bottom: 350px;
  left: 1000px;
}
